


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #2a3b71;
    font-size: 18px;
    position: relative;
    overflow-x: hidden;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    color: #fff !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #fff !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #fff !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #fff !important;
}

a:focus {
    outline: none;
    outline-offset: none;
}

a:hover {
    text-decoration: none;
}

.btn-default {
    border-radius: 50px;
    background: transparent;
    padding: 15px 20px;
    min-width: 170px;
    border: 3px solid #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-default:hover {
    border-color: #bf095d;
    background: #bf095d;
    color: #fff;
}

.btn-default.colored {
    color: #bf095d;
    border-color: #bf095d;
}

.btn-default.colored:hover {
    color: #fff;
}

.btn-default.blue {
    color: #3498db;
    border-color: #3498db;
}

.btn-default.blue:hover {
    color: black;
    background: #3498db;
}

.mt-200 {
    margin-top: 200px;
}

.mt-250 {
    margin-top: 250px;
}

.space-25 {
    height: 25px;
}

.space-50 {
    height: 50px;
}

.padding-100 {
    padding: 100px 0;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.section-heade h3 {
    color: #2a3b71;
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
}

.section-heade p {
    color: #2a3b71;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.section-heade.white h3,
.section-heade.white p {
    color: #fff;
}

ul.social-icons {
    margin-left: 0px;
}

ul.social-icons li {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.social-icons li i {
    font-size: 14px;
    color: #fff;
}

ul.social-icons li.facebook:hover {
    border-color: #3B5A9A;
    background: #3B5A9A;
}

ul.social-icons li.twitter:hover {
    border-color: #54ABF0;
    background: #54ABF0;
}

ul.social-icons li.google-plus:hover {
    border-color: #DD4B3E;
    background: #DD4B3E;
}

ul.social-icons li.linkedin:hover {
    border-color: #0175B0;
    background: #0175B0;
}

ul.social-icons li.pinterest:hover {
    border-color: #BE0719;
    background: #BE0719;
}

.page-head {
    position: relative;
    padding: 100px 0;
}

.page-head h2 {
    font-size: 50px;
    margin: 0;
    padding: 100px 0 10px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.page-head .breadcrumb {
    background: transparent;
    padding: 0;
}

.page-head .breadcrumb a,
.page-head .breadcrumb {
    color: #fff;
}

.page-head .breadcrumb a:hover {
    text-decoration: none;
}

.page-head .breadcrumb>li+li:before {
    color: #fff;
}

.pagination {
    margin: 40px 0 20px;
}

.pagination>li>a,
.pagination>li>span {
    padding: 8px 15px;
    color: #bf095d;
    border-color: #bf095d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
    background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    border-color: black;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 8px 20px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 8px 20px;
}

@media (max-width: 991px) {
    .mt-250 {
        margin-top: 125px;
    }
    .mt-200 {
        margin-top: 100px;
    }
    .btn-default {
        padding: 10px 10px;
        min-width: 150px;
        font-size: 12px;
    }
    .section-heade h3 {
        font-weight: 300;
    }
}


/*------------------------------
    01. END GENERAL STYLE
------------------------------*/


/*------------------------------
    02. START PRELOADER
------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
    background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
}

.preloader .spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.preloader .spinner .cube1,
.preloader .spinner .cube2 {
    background-color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 2.5s infinite ease-in-out;
    animation: sk-cubemove 2.5s infinite ease-in-out;
}

.preloader .spinner .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


/*------------------------------
    - End Preloader
------------------------------*/


/*------------------------------
    03. START NAV
------------------------------*/

.appy-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
    background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);

}

.appy-menu.sticky {
    background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
    background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    opacity: 0.9;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    padding: 0;
}

.appy-menu ul li a {
    color: black !important;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu ul li .dropdown-menu li a {
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 15px;
    text-transform: capitalize;
}

.appy-menu ul li .dropdown-menu li.active a {
    background: #fff;
    color: black !important;
}

.appy-menu ul li.dropdown>a {
    background: transparent !important;
    /*color: #bf095d !important;*/
}

.appy-menu ul li .dropdown-menu>a:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu ul.nav>li.active>a:after,
.appy-menu ul.nav>li>a:hover:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu ul li .dropdown-menu {
    background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
    background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    padding: 0;
    border: 0;
    border-radius: 0;
}

.appy-menu .navbar-nav>.active>a,
.appy-menu .navbar-nav>.active>a:focus,
.appy-menu .navbar-nav>.active>a:hover {
    background: none;
    color: black !important;
}

.appy-menu .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.appy-menu ul li a:hover {
    color: blue !important;
}

.appy-menu .navbar-brand {
    height: auto;
    max-width: 125px;
    padding: 5px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu.sticky .navbar-brand {
    padding: 15px;
}

.appy-menu.navbar-default .navbar-toggle {
    background: #fff;
    border-color: #fff;
    margin-top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.appy-menu.navbar-default .navbar-toggle.collapsed {
    background: none;
}

.appy-menu.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (max-width: 767px) {
    .appy-menu .navbar-brand {
        padding: 15px;
    }
    .appy-menu ul li a {
        text-align: center;
    }
    .appy-menu ul li.active a:after,
    .appy-menu ul li a:hover:after {
        bottom: 8px !important;
    }
    .appy-menu ul li.open>a:after,
    .appy-menu ul li.open>a:hover:after {
        bottom: 8px !important;
    }
}

@media (min-width: 768px) {
    .appy-menu {
        padding: 30px 0;
        background: transparent;
    }
    .appy-menu.sticky .navbar-nav>li>a {
        padding: 20px 15px;
    }
    .appy-menu.sticky ul li.active a:after,
    .appy-menu.sticky ul li a:hover:after {
        bottom: 18px;
    }
    .appy-menu.sticky ul li.open>a:after,
    .appy-menu.sticky ul li.open>a:hover:after {
        bottom: 18px;
    }
    .appy-menu .nav li.dropdown:hover>.dropdown-menu {
        display: block;
    }
}


/*------------------------------
    03. END NAV
------------------------------*/


/*------------------------------
    04. START SLIDE
------------------------------*/

#home_banner {
    position: relative;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
    background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
    opacity: 0.9;
}

#home_banner h3 {
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    line-height: 70px;
}

#home_banner p {
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    margin: 20px 0 30px;
}

#home_banner .btn {
    margin: 0 20px 20px 0;
}

#home_banner .btn:hover {
    border-color: black;
    background: #fff;
    color: black;
}

@media (max-width: 991px) {
    #home_banner h3 {
        font-size: 30px;
        line-height: 50px;
    }
    #home_banner p {
        font-size: 18px;
    }
    #home_banner .btn {
        margin: 0 20px 20px 0;
    }
}


/*------------------------------
    04. END SLIDE STYLE
------------------------------*/


/*------------------------------
    05. START ABOUT SECTION
------------------------------*/

#about .about-box {
    padding: 25px;
}

#about .about-box h4 {
    margin: 30px 0;
    color: #2a3b71;
    font-size: 20px;
}

#about .about-box p {
    color: #2a3b71;
    font-weight: 400;
    font-size: 16px;
}


/*------------------------------
    05. END ABOUT
------------------------------*/

/*------------------------------
    08. START PRIX
------------------------------*/

#testimonial {
    position: relative;
}

#testimonial .testimonial-slider {}

#testimonial .testimonial-slider .item .client-img {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

#testimonial .testimonial-slider .item h4 {
    font-size: 40px;
    font-weight: 400;
    color: black;
}


#testimonial .testimonial-slider .owl-dots {
    margin-top: 20px !important;
}

#testimonial .testimonial-slider .owl-dots .owl-dot span {
    background: #fff;
    width: 18px;
    height: 18px;
}

#testimonial .testimonial-slider .owl-dots .owl-dot.active span {
    background: black;
}




#prix .table-prix {
  border: 2px solid black;
  box-shadow: 10px 10px 0px  #3498db ;
  margin-top: 25px;
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (max-width: 992px) {
    #prix .table-prix {
        margin-bottom: 30px;
    }
}

#prix .table-prix:hover {
    cursor: pointer;
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -o-transform: scale(1.09);
    transform: scale(1.09);
}

#prix .table-prix:hover .btn-default.blue {
    color: #fff;
    background: #3498db ;
}

#prix h3{
  padding-bottom: 55px;
}

#prix .table-prix h4 {
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
}

#prix .table-prix .photo-htc img {
    margin: 0;
}

#prix .table-prix ul li {
    margin: 0;
    font-size: 25px;
    line-height: 55px;
    list-style: none ;
}

#prix .table-prix span{
  font-size: 55px;
}

/*------------------------------
    23. START FOOTER SECTION
------------------------------*/

footer {
  background: -moz-linear-gradient( -29deg, #2c3e50 0%, #3498db 100%);
  background: -webkit-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
  background: -ms-linear-gradient( -29deg, #3498db 0%,  #2c3e50 100%);
}

footer p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 25px 0;
}
