body{
  font-family: 'Ubuntu Condensed', sans-serif;
/* background: #000000;
 background: -webkit-linear-gradient(to right, #000000, #434343);
 background: linear-gradient(to right, #000000, #434343);*/
 font-size: 18px;
 position: relative;
 overflow-x: hidden;
}
a:focus {
    outline: none;
    outline-offset: none;
}

a:hover {
    text-decoration: none;
}
/*----Debut style navigation */
.htc-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}
.htc-menu.sticky {

    opacity: 0.9;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    padding: 0;
}

.htc-menu ul li a {
    color: black !important;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htc-menu ul li .dropdown-menu li a {
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 15px;
    text-transform: capitalize;
}

.htc-menu ul li .dropdown-menu li.active a {
    background: #fff;
    color:  #4da6ff!important;
}

.htc-menu ul li.dropdown>a {
    background: transparent !important;
    /*color:  #4da6ff !important;*/
}

.htc-menu ul li .dropdown-menu>a:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background:  #fff;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htc-menu ul.nav>li.active>a:after,
.htc-menu ul.nav>li>a:hover:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: black;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htc-menu ul li .dropdown-menu {
    background-color: #4da6ff;
    border: 0;
    border-radius: 0;
}

.htc-menu .navbar-nav>.active>a,
.htc-menu .navbar-nav>.active>a:focus,
.htc-menu .navbar-nav>.active>a:hover {
    background: none;
    color:  #4da6ff !important;
}

.htc-menu .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.htc-menu ul li a:hover {
    color:  #4da6ff !important;
    background-color: black;
}

.htc-menu .navbar-brand {
    height: auto;
    max-width: 125px;
    padding: 5px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htc-menu.sticky .navbar-brand {
    padding: 15px;
}

.htc-menu.navbar-default .navbar-toggle {
    background: #fff;
    border-color: #fff;
    margin-top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htc-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #4da6ff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.htc-menu.navbar-default .navbar-toggle.collapsed {
    background: none;
}

.htc-menu.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (max-width: 767px) {
    .htc-menu .navbar-brand {
        padding: 15px;
    }
    .htc-menu ul li a {
        text-align: center;
    }
    .htc-menu ul li.active a:after,
    .htc-menu ul li a:hover:after {
        bottom: 8px !important;
    }
    .htc-menu ul li.open>a:after,
    .htc-menu ul li.open>a:hover:after {
        bottom: 8px !important;
    }
}

@media (min-width: 768px) {
    .htc-menu {
        padding: 30px 0;
        background: transparent;
    }
    .htc-menu.sticky .navbar-nav>li>a {
        padding: 20px 15px;
    }
    .htc-menu.sticky ul li.active a:after,
    .htc-menu.sticky ul li a:hover:after {
        bottom: 18px;
    }
    .htc-menu.sticky ul li.open>a:after,
    .htc-menu.sticky ul li.open>a:hover:after {
        bottom: 18px;
    }
    .htc-menu .nav li.dropdown:hover>.dropdown-menu {
        display: block;
    }
}


/*------------------------------
    03. END NAV STYLE
------------------------------*/
